<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="blocks/header :: header"></head>
<body>
<div th:replace="blocks/navbar :: navbar"></div>
<div class="main-heading">
    <h2>Добро пожаловать в наш кинотеатр!<br>
        У нас вы можете ознакомиться с показом фильмов,<br>
        а также приобрести билет на интересующий вас фильм
    </h2><br/>
    <h3>Покупка билета доступна только зарегистрированным пользователям</h3>
</div>
<div th:include="blocks/footer :: footer"></div>
</body>
</html>