<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Job4j_cinema</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Главная</a>
            <a class="nav-item nav-link" th:href="@{/sessions}">Сеансы</a>
            <a class="nav-item nav-link active" th:href="@{/films}">Кинотека</a>
        </div>
        <div class="navbar-nav me-auto" th:if="${user != null && user.fullName != 'Гость'}">
            <a class="nav-item nav-link" href="#" th:text="${user.fullName}"></a>
            <a class="nav-item nav-link" th:href="@{/users/logout}">Выйти</a>
        </div>
        <div class="navbar-nav me-auto" th:if="${user == null || user.fullName == 'Гость'}">
            <a class="nav-item nav-link" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-item nav-link" th:href="@{/users/login}">Войти</a>
        </div>
    </div>
</nav>